
.button {
    width: 7.375rem;
    height: 2.813rem;
    background-color: rgb(38, 161, 150)!important;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    &:hover {
        background-color: rgb(110, 234, 223)!important;
        cursor: pointer;
    }
}