.headerContainer {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1rem;
  background: rgb(249, 255, 254);
  .logo {
    width: 4rem;
    height: 4rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
  }
}
