.leftNavigationContainer {
  display: flex;
  flex-direction: column;

  height: 100%;
  justify-content: space-between;
  width: 16.75rem;
  background-color: #f9fffe;
  gap: 18vh;
  padding-top: 2vh;
  .topList,
  .bottomList {
    display: flex;
    flex-direction: column;
    gap: 10px;

    div {
      button {
        font-family: Inter, "Arial Narrow Bold", sans-serif;
        font-size: 18px;
        padding: 10px 20px;
        display: flex;
        width: 16.75rem;
        gap: 0.5rem;
        align-items: center;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        &:hover {
          background-color: rgb(110, 234, 223) !important;
          border: none;
          color: white;
        }
      }
    }
  }
}
.leftNavigationContainer .topList button.active,
.leftNavigationContainer .bottomList button.active {
  background-color: rgb(38, 161, 150) !important;
  color: #fff !important;
  img {
    filter:invert(1)
  }
}
@media (min-width: 376px) {
  .leftNavigationContainer {
    height: 100vh;
    gap: 18vh;
    padding: 1rem;
    padding-top: 4vh;
    .topList,
    .bottomList {
      gap: 1rem;
    }
  }
}
