.taskListsContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  .taskLists {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    .taskItem {
      margin: 0 auto;
      font-style: italic;
      width: -webkit-fill-available;
      padding: 0px 10px;
      height: 2.32rem;
      border: solid 1px #ebfdfb;
      border-radius: 20px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
      &:focus {
        border-color: rgb(38, 161, 150);
        outline: none;
      }
    }
  }
  .dashboard-button {
    margin: 30px auto;
    border-radius: 10px;
    margin-bottom: auto;
    align-self: stretch;
  }
}
